<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.inside.aia.demo.mapper.UnitsMapper">
    <select id="selectById" resultType="ai.inside.aia.demo.entity.Unit">
        select id, name
        from units
        where id = #{id};
    </select>

    <insert id="insert" parameterType="ai.inside.aia.demo.dto.UnitRegisterParam">
        insert into units (id, name)
        values (null, #{param.name});
    </insert>

    <update id="update" parameterType="ai.inside.aia.demo.dto.UnitRegisterParam">
        update units
        set name = #{param.name}
        where id = #{id};
    </update>

    <delete id="deleteById">
        delete
        from units
        where id = #{id};
    </delete>

    <select id="selectByUnitIdAndPageId" resultType="ai.inside.aia.demo.entity.Page">
        select
            p.id,
            p.no,
            p.name
        from units u
                 join pages p on u.id = p.unit_id
        where p.id = #{pageId}
        and u.id = #{unitId}
        ;
    </select>

    <resultMap id="unitWithPagesMap" type="ai.inside.aia.demo.entity.UnitWithPages">
        <id property="id" column="unitId"/>
        <result property="name" column="unitName"/>
        <collection property="pages" ofType="ai.inside.aia.demo.entity.Page">
            <id property="id" column="page_id"/>
            <result property="no" column="page_no"/>
            <result property="name" column="page_name"/>
        </collection>
    </resultMap>
    <select id="selectByUnitIdWithPages" resultMap="unitWithPagesMap">
        select
               u.id as unitId,
               u.name as unitName,
               p.id as page_id,
               p.no as page_no,
               p.name as page_name
        from units u
                 join pages p on u.id = p.unit_id
        where u.id = #{unitId};
    </select>

    <select id="selectAllPages" resultType="ai.inside.aia.demo.entity.Page">
        select
            p.id,
            p.no,
            p.name
        from pages p;
    </select>
</mapper>
